---
title: "Frequently Asked Questions | Sadhakam: Carnatic Swara Gnanam Practice"
layout: kuyil_with_container
---

{% include sadhakam.html %}
{% include faq/heading.html %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "MobileApplication",
  "name": "{{ app_full_name }}",
  "url": "{{ app_link }}",
  "applicationCategory": "Education",
  "operatingSystem": "Android"
}
</script>

<div id="accordion">

    <h3 class="faq-question">How does the app work?</h3>
    <div class="faq-answer">
        <p>{{ app }} has interactive exercises. In the exercises you will hear sequences and will be asked to identify one or more swarasthanams.</p>
    </div>

    <h3 class="faq-question" id="12swarams">The app shows three Ri choices - Ri1, Ri2, Ri3. Aren't there only two Ri-s? (Same for Ga, Dha and Ni)</h3>
    <div class="faq-answer">
        <p>In Carnatic music, there are three swarasthanas each for <em>Rishabam</em> (Ri), <em>Ghandaram</em> (Ga), <em>Dhaivatam</em> (Dha), <em>Nishadam</em> (Ni). This is a very fundamental concept and 72 melakartha raga scheme is based on this. Some books wrongly refer to only two varieties of Ri, Ga etc., both in text and in notation, either as <em>Small</em> Ri and <em>Big</em> Ri or as Ri1 and Ri2 only. This may be right for Hindustani music, but not suitable for Carnatic music.</p>
        <p>There's a overlap between Ri and Ga's swarasthanas, and similarly between Dha and Ni swarasthanas. Due to these overlaps, the 16 swarasthanas take 12 distinct positions. Here's a complete list of swarasthanams showing these overlaps.</p>
        <img class="img-fluid mx-auto d-block" src='{{ "/images/carnatic-swarasthanas.png" | relative_url }}' alt="Swarasthana chart" />
        <p>Learn more about swarasthanas in <a href="https://beautifulnote.com/blog/2017/12/03/carnatic-swarasthanas.html">this blog post</a></p>
    </div>

      {% include faq/unlock_premium.html %}

</div><!-- accordion -->

{% include faq/footer.html %}
