---
title: About Purchases
layout: kuyil_with_container

app: "Sadhakam"
app_full_name: "Sadhakam Carnatic Ear Trainer"
app_logo: "/images/sadhakam_seal.png"
app_link: "https://play.google.com/store/apps/details?id=org.kuyil.sadhakam"
email: "sadhakam@kuyil.org"
---

{% include faq/buying_heading.html %}

<div id="accordion">
  {% include faq/payment_modes.html %}
  {% include faq/sadhakam_buying_renting.html %}
  {% include faq/sadhakam_i_dont_like_it.html %}
</div>

{% include faq/footer.html %}
