---
title: Abour Purchases
layout: barebones
app: "Sadhakam"
app_full_name: "Sadhakam Carnatic Ear Trainer"
email: "sadhakam@kuyil.org"
---

<div class="row">
  <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5">
    <img class="img-responsive" src="/images/sadhakam_seal.svg" alt="{{ page.app }} Carnatic Ear Trainer"/>
  </div>
</div>

<div id="accordion">
  {% include faq/payment_modes.html %}
  {% include faq/sadhakam_buying_renting.html %}
  {% include faq/sadhakam_i_dont_like_it.html %}
</div>


{% include faq/footer.html %}
