---
layout: kuyil
title: Kuyil Carnatic Apps

class_row_app: "row vcenter-desktop justify-content-sm-center"
class_col_app_logo: "col-sm-auto my-auto"
class_col_app_text: "col-md-5 appinfo"
class_col_play_badge: "col-sm-auto my-auto"

play_badge_width: "150"
app_logo_width: "96"
brand_logo: "256"
---

<!-- jumbotron -->
<div class="container-fluid">
    <div class="jumbotron">
        <div class="row justify-content-sm-center vcenter-mobile">
            <div class="col-sm-auto">
                <img class="img mx-auto d-block" src="/images/kuyil_logo.svg" alt="kuyil brand logo" width="{{ page.brand_logo }}">
            </div>
            <div class="col-sm-auto text_desktop_left_mobile_center">
                <h1 class="brand_name">Kuyil Carnatic Apps</h1>
                <p class="lead">Apps crafted for carnatic music</p>
                <a {{ site.external_link }} href="https://play.google.com/store/apps/developer?id=Kuyil">
                    <div class="btn btn-primary">
                        OUR APPS
                    </div>
                </a>
            </div>
        </div>
    </div>
</div><!-- jumbotron -->

<!-- app listing -->
<div class="container">
  {% assign app_includes = "shrutibox.html, sadhakam.html, shruti.html" | split:", " %}
  {% for app_include in app_includes %}
  {% include {{ app_include }} %}
    <div class='{{ page.class_row_app }}' itemscope itemtype="schema.org/MobileApplication">
        <meta itemprop="operatingSystem" content="Android" />
        <meta itemprop="applicationCategory" content="Music" />
        <meta itemprop='sameAs' content='{{ app_link }}'>

        <div class="{{ page.class_col_app_logo }}">
            <a {{ site.external_link }} href="{{ app_link }}">
                <img class='img mx-auto d-block' width="{{ page.app_logo_width }}" alt='{{ app_short_name }} logo' src="{{ app_logo }}" />
            </a>
        </div>

        <div class="{{ page.class_col_app_text }}">
            <h2 class="app-title">
                <a {{ site.external_link }} href="{{ app_link }}"><span itemprop="name">{{ app }}</span></a>
                <br />
                <small>{{ app_caption }}</small>
            </h2>
            <p class="app-description"><span itemprop="featureList">{{ app_description }}</span></p>
        </div>

        <div class="{{ page.class_col_play_badge }}">
            <a itemprop="url" {{ site.external_link }} 
               href='{{ app_link }}'>
                <img class='img mx-auto d-block' width='{{ page.play_badge_width }}' alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
            </a>
        </div>
    </div>
    <hr />
  {% endfor %}
</div><!-- app listing container-->
