{% assign class_social_icon = "col-xs-auto mx-2 my-auto" %}
{% assign social_icon_width = "20" %}

<div class="container-fluid mt-5 bg-light">
    <div class="row social-logo py-2 footer">
        <div class="col-xs-auto ml-auto mr-4"><p class="text-muted my-auto">© Kuyil</p></div>

        <div class="{{ class_social_icon }}">
            <a href="https://play.google.com/store/apps/developer?id=Kuyil">
                <img class="img" width="{{ social_icon_width }}" src="/images/google_play_logo_monochrome.svg" alt="google play"/>
            </a>
        </div>
        <div class="{{ class_social_icon }}">
            <a href="https://www.facebook.com/kuyilorg">
                <img class="img" width="{{ social_icon_width }}" src="/images/facebook_logo_monochrome.svg" alt="facebook"/>
            </a>
        </div>
        <div class="{{ class_social_icon }}">
            <a href="https://twitter.com/kuyilorg">
                <img class="img" width="{{ social_icon_width }}" src="/images/twitter_logo_monochrome.svg" alt="twitter"/>
            </a>
        </div>
        <div class="{{ class_social_icon }}">
            <a href="https://www.youtube.com/c/KuyilCarnaticApps">
                <img class="img" width="{{ social_icon_width }}" src="/images/youtube_logo_monochrome.svg" alt="youtube"/>
            </a>
        </div>
        <div class="{{ class_social_icon }} mr-auto">
                <a href="https://telegram.me/kuyil">
                    <img class="img" width="{{ social_icon_width }}" src="/images/telegram_logo_monochrome.svg" alt="telegram"/>
                </a>
        </div>
    </div>
</div>
