<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
  <link rel="stylesheet" href="{{ "bootstrap/css/bootstrap.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "bootstrap/css/bootstrap-theme.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "css/bootstrap-overrides.css" | prepend: site.baseurl }}">

  <!-- Google web fonts -->
  <link href='http://fonts.googleapis.com/css?family=Roboto|Poiret+One|Boogaloo|Simonetta:400italic|Glass+Antiqua|Montaga|Lora:400italic|PT+Sans+Narrow|Playfair+Display|Alegreya:700|Josefin+Sans:600|Crimson+Text:600|EB+Garamond|Old+Standard+TT|Philosopher|Vidaloka|Sorts+Mill+Goudy|Julius+Sans+One|Neuton|Lusitana|Alice|Goudy+Bookletter+1911|IM+Fell+English|Gentium+Basic|Copse|Rosario|IM+Fell+DW+Pica|Bentham|Cagliostro|Ramaraja' rel='stylesheet' type='text/css'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
