{% if page.url == '/' %}
{%    assign home = '#' %}
{% else %}
{%    assign home = site.url %}
{% endif %}

{% if include.movable_navbar %}
{%    assign nav_placement = '' %}
{% else %}
{%    assign nav_placement = 'fixed-top' %}
{% endif %}


<div class="container-fluid">
    <nav class="navbar navbar-dark bg-dark {{ nav_placement }}">
        <a class="navbar-brand" href="{{ home }}">
            <img src="/images/kuyil_logo.svg" width="30" height="30" alt="">
        </a>
        <ul class="nav">
            <li class="nav-item">
                <a {{ site.external_link }} class="nav-link" href="https://play.google.com/store/apps/developer?id=Kuyil">APPS</a>
            </li>
            <li class="nav-item">
                <a {{ site.external_link }} class="nav-link" href="https://beautifulnote.com/blog">BLOG</a>
            </li>
        </ul>
    </nav>
</div>
