<div class="col-xs-10 col-xs-offset-1">
  <a href="https://play.google.com/store/apps/details?id=org.kuyil.quot">
    <img src="/images/quot-logo.svg" alt="Quot Logo" width="100%"></img>
  </a>
</div>

<div class="col-xs-12">
  <p class="quote">Quotes, sayings, aphorisms, proverbs, quotations, words of wise and wisdom.</p>
</div>

<div class="col-xs-12">
  <p class="author">Free. No Ads. </p>
</div>

<div class="col-xs-12">
  <!-- Get it on Google Play -->
<a href='https://play.google.com/store/apps/details?id=org.kuyil.quot&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width='80%'/></a>
</div>
