.brand_name {
}

.brand_tagline {
}

.app_title {
}

.app_subtitle {
}

body {
    margin-top: 100px; // to clear nav bar
}

.screenshot {
  margin: 8px;
  border: solid;
}

.ui-accordion .ui-accordion-header {
  background: #e3f2fd;
  cursor: pointer;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  outline: none;
}

.ui-accordion .ui-accordion-header-active {
  background: #90caf9;
  outline: none;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}

.app-logo {
  margin-top: 16px;
  margin-bottom: 32px;
}

h1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.faq-question {
  font-size: large;
}

.faq-answer {
  font-size: medium;
}

.footer {
  font-size: medium;
}

// local links in about purchases pages scroll to the relevant section, but doesn't expand it.
// here we visually mark the target to help user locate and manually expand it.
:target {
  border: solid;
}

// copied from styling used in beautiful note music theory post
// apps listing section
// mobile
$screen-md-min: 992px;
@media (max-width: $screen-md-min) {
    .appinfo {
        text-align: center;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .row {
        .vcenter-mobile {
            align-items: center;
            display: flex;
        }
    }
}
      
// desktop
@media (min-width: $screen-md-min) {
    .appinfo {
        text-align: left;
    }

    .row {
        .vcenter-desktop {
            align-items: center;
            display: flex;
        }
    }
}
