body {
  margin-top: 60px;
}

h1 {
  margin-top: 16px;
  margin-bottom: 16px;
}

// local links in about purchases pages scroll to the relevant section, but doesn't expand it.
// here we visually mark the target to help user locate and manually expand it.
:target {
  border: solid;
}

.ui-accordion .ui-accordion-header {
  background: #e3f2fd;
  cursor: pointer;
  margin: 2px 0 0 0;
  padding: .5em .5em .5em .7em;
  outline: none;
}

.ui-accordion .ui-accordion-header-active {
  background: #90caf9;
  outline: none;
}

.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border-top: 0;
  overflow: auto;
}

.navbar {
    padding: 0px 16px 0px 16px;
}

.nav-item {
    font-size: small;
}

.nav-link {
    color: white;
}

.app-logo {
  margin-top: 16px;
  margin-bottom: 32px;
}

.app-title {
    line-height: 1;
    font-size: 1.5rem;
    font-weight: 400;
}

.app-title small {
    color: #424242;
}

.app-description {
    color: #757575;
    margin-bottom: 0px;
}

.screenshot {
  margin: 8px;
  border: solid;
}

.faq-question {
  font-size: large;
}

.faq-answer {
  font-size: medium;
}

.footer {
    font-size: small;
}

// copied from styling used in beautiful note music theory post
// apps listing section
// mobile

// Small devices (landscape phones, 576px and up)
$screen-sm-min: 576px;

// Medium devices (tablets, 768px and up)
$screen-md-min: 768px;

// Large devices (desktops, 992px and up)
$screen-lg-min: 992px;

// Extra large devices (large desktops, 1200px and up)
$screen-xl-min: 1200px;

$screen-breakpoint-for-home-page: $screen-md-min;
@media (max-width: $screen-breakpoint-for-home-page) {
    .appinfo {
        text-align: center;
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .text_desktop_left_mobile_center {
        text-align: center;
    }


    .row {
        .vcenter-mobile {
            align-items: center;
            display: flex;
        }
    }
}

// desktop
@media (min-width: $screen-breakpoint-for-home-page) {
    .appinfo {
        text-align: left;
    }

    .text_desktop_left_mobile_center {
        text-align: left;
    }

    .row {
        .vcenter-desktop {
            align-items: center;
            display: flex;
        }
    }
}
