---
title: 12 Swarams Pack | Shruti Carnatic Tuner
layout: kuyil_with_container

app: "Shruti"
app_full_name: "Shruti Carnatic Tuner"
app_logo: "/images/shruti_seal.png"
app_link: "https://play.google.com/store/apps/details?id=org.kuyil.shruti"
email: "shruti@kuyil.org"
---

{% include faq/heading.html %}

<div class="row">
  <div class="col">
    <h1>12 Swarams Pack</h1>
    <p class="lead">Perfect your singing, playing or tuning of all 12 swara sthanas.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-auto mx-auto mb-3">
    <img class="img-fluid" src="/images/12_swarams_pack_listening.png" width="300px" alt="Listening" />
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="lead">Automatic swaram detection, that you love, supported for all swarams. Sing or Play and the app will instantly show which swaram.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-auto mx-auto mb-3">
    <img class="img-fluid" src="/images/12_swarams_pack_playing.png" width="300px" alt="Playing" />
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="lead">Accurate, clear reference tones at your finger tips for any swarams in 4 sthayis.</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-auto mx-auto mb-3">
    <img class="img-fluid" src="/images/12_swarams_pack_selection.png" width="150px" alt="Swaram Pack Selection" />
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="lead">Switch between the simple Sa-Ma-Pa view and all swarams view at any time.</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <h2>Q&A</h2>

    <div id="accordion">
      <h3 class="faq-question">What is included in this 12 Swarams Pack?</h3>
      <div class="faq-answer">
        <ol>
          <li>This pack extends <em>Shruti Carnatic Tuner</em>'s capability to work for all 12 pure Carnatic swara sthanas</li>
          <li>It removes ads from the app</li>
          <li>You also get a convenient on-screen volume control when you play reference swarams</li>
        </ol>
      </div>

      <h3 class="faq-question">I want to get 12 Swarams Pack, but I have questions about buying.</h3>
      <div class="faq-answer">
      <p>Glad you asked. We have put together a page that answers many common questions about purchases and describes various ways to buy. Read <a href="{{ site.url }}/shruti/about_purchases">here</a>.</p>
      </div>
      
      <h3 class="faq-question" id="swarasthanas">Can you be more specific about the swara sthanas supported?</h3>
      <div class="faq-answer">
      <p>All 12 carnatic swara sthanas.</p>
        <ol>
          <li><b>Sa</b> <em>Shadjam</em>,</li>
          <li><b>Ri<sub>1</sub></b> <em>Suddha Rishabam</em>,</li>
          <li><b>Ri<sub>2</sub></b> <em>Chatushruti Rishabam</em> or <b>Ga<sub>1</sub></b> <em>Suddha Gandharam</em>,</li>
          <li><b>Ga<sub>2</sub></b> <em>Sadharana Gandharam</em> or <b>Ri<sub>3</sub></b> <em>Shatshruti Rishabam</em>,</li>
          <li><b>Ga<sub>3</sub></b> <em>Anthara Gandharam</em>,</li>
          <li><b>Ma<sub>1</sub></b> <em>Suddha Madhyamam</em>,</li>
          <li><b>Ma<sub>2</sub></b> <em>Prati Madhyamam</em>,</li>
          <li><b>Pa</b> <em>Panchamam</em>,</li>
          <li><b>Dha<sub>1</sub></b> <em>Suddha Dhaivatam</em>,</li>
          <li><b>Dha<sub>2</sub></b> <em>Chatushruti Dhaivatam</em> or <b>Ni<sub>1</sub></b> <em>Suddha Nishadam</em>,</li>
          <li><b>Ni<sub>2</sub></b> <em>Kaisika Nishadam</em> or <b>Dha<sub>3</sub></b> <em>Shatshruti Dhaivatam</em> and</li>
          <li><b>Ni<sub>3</sub></b> <em>Kakali Nishadam</em>.</li>
        </ol>
      </div>
      
      <h3 class="faq-question">Does Automatic Swaram Detection work for all these swarams?</h3>
      <div class="faq-answer"><p>Yes.</p></div>
      
      <h3 class="faq-question">Are reference tones provided for all these swarams?</h3>
      <div class="faq-answer"><p>Yes, in 4 Sthayis.</p></div>
      
      <h3 class="faq-question">Why do I need this feature?</h3>
      <div class="faq-answer">
          <p>If any of the following descriptions sound like you, you need this feature:</p>
          <ul>
            <li>You are a carnatic vocal student who wishes to perfect singing of your swara sthanas.</li>
            <li>You are a student learning a carnatic instrument (violin, veena, etc.) who wants to improve accuracy of your fingering technique to play all swarams.</li>
            <li>Your instrument requires tuning to swarams other than Sa, Ma<sub>1</sub> and Pa (e.g. tambura with one string tuned to Ni).</li>
            <li>Your veena's melam (frets) needs to be checked and adjusted accordingly.</li>
            <li>You are a flutist and you would like to make sure the flutes you are buying are in specified shruti, without any apaswaram.</li>
            <li>You are a professional musician looking for precise reference tones for all swarams.</li>
            <li>You are an experienced musician or advanced student who is trying to fine-tune to authentic carnatic swara sthanas instead of Western Equal Temperament Intervals (typically seen in keyboards and harmoniums).</li>
            <li>Simply you love Shruti Carnatic Tuner and you would like to support the efforts of the developers.</li>
          </ul>
        </div>

      <h3 class="faq-question">How can I perfect singing swara sthanas with 12 Swarams Pack?</h3>
      <div class="faq-answer">
        <p>If you are a beginner student:</p>
        <ul>
          <li>Beginners usually find it difficult to switch ragams during practice. For instance, if you are singing Sarali in Mayamalavagowla and should move on to Shankarabaranam, you should be able change the Ri and Dha swara sthanas and sing accordingly. If you practice with 12 Swaram Pack, the app will show you the swara sthana you are singing, so you will come to know if you are still singing Suddha Rishabam instead of Chatusruti Rishabam in Shankarabaranam. Once you realize your mistake, you can correct yourself by listening to the reference swaram sound provided by the app.</li>
          <li>Another common mistake beginners do is, when singing a <em>dhattu</em> phrase, where swarams are zig-zag and wide apart, they end up singing different swarams than intended. For instance, you may be trying to sing <em>Ga Ni Dha Pa</em> but end up singing <em>Ga Dha Pa Ma</em>. This mistake may go unnoticed because the swarams you sang belong to the same ragam. With 12 Swarams Pack, you can detect if you are making such mistakes and correct yourself easily.</li>
          <li>Listening to and singing proper Carnatic swara sthanas in the early stages of learning helps to ingrain correct Carnatic sound. 12 Swarams Pack guides you with pure Carnatic swarasthanas so you cultivate the correct sound in your mind and in your voice from the very beginning.</li>
        </ul>

        <p>If you are an advanced student:</p>
        <ul>
          <li>Refine your swara sthanas. If some of your swara sthanas are slighly off, may be due to overexposure to western or film music, you can detect them and do corrective practice with the help of 12 Swarams Pack.</li>
          <li> In long <em>Jaru</em> gamakams, when gliding down or up to a distant swaram. Ex: Pa - Ri, Dha - Ga, Ni - Ma, you can figure out whether you are reaching the target swaram correctly or approximating around it. You can workout the phrases, with visual and aural feedback from Shruti Carnatic tuner with 12 Swarams pack, and gain confidence in singing those tricky phrases.</li>
          <li>Spot those unnecessary fluctuation or vibration in specific ranges in your voice, especially when singing long steady notes (kārvai/dheergam). (Ex: In Mandra Sthayi, below Dhaivatam, my voice is shaky and not steady)</li>
        </ul>
      </div>

      <h3 class="faq-question">I'm an instrumentalist. How can I use 12 Swarams Pack to improve my fingering technique?</h3>
      <div class="faq-answer">
        <p>Automatic Swaram Detection and Reference sounds for all swarams in 4 sthayis are very powerful features. If you incorporate them in your practice routine, they can help you achive great precision in your playing.</p>
       <p>Shruti Carnatic Tuner, with 12 Swarams Pack, shows the swaram you are playing and also the deviation to the ideal swara sthanam. If you are not able to play the correct swaram due to instrument fault, for instance, a melam (fret) position on a veena or position of the hole in a flute, you can remedy it by adjusting, repairing or changing the instrument. If the apaswaram is due to the way you play, you can change the finger position, angle or pressure and see if you are hitting the correct note.</p>
        <p>You can let the app play the swaram you want to practice. Now play the same swaram on your instrument and try to match the sound from the app. Even if you are slightly off, the sounds will clash and you can hear <em>beating</em>. You should adjust your playing to minimize the beating or to make it disappear completely. With a tambura or shrutibox, only certain swarams like Sa and Pa are loud enough to cause this clash clearly audibly but not all. With 12 Swarams Pack, as you can make the app play steady sound of any swaram in any of the 4 sthayis, the clashing effect is dramatically amplified. This will force you to adjust your playing technique to match the precise swara sthanam.</p>
        <p>Here are some pro-tips. First, play a swaram in the app and change sthayi to match your instrument in a specific position. Then,</p>
          <ul>
             <li>Practice the same swaram repeatedly on your instrument. Take hands off instrument, come back and play the same swaram directly. Observe if there are any clashes with the sound played from the app. Try to minimize such clashes.</li>
             <li>Play short phrases with other swarams and come back to this swaram. Try to match the sound of the app. If in doubt, stop the reference sound, so the app detects and shows the accuracy of your note visually.</li>
             <li>Practice <em>Jaru</em>. Slide from a distant swaram to this swaram and hold it steadily. Try to reach the target swaram on your instrument gracefully while perfectly matching the sound of the reference sound from the app.</li>
          </ul>
        </ul>
      </div>
      
      <h3 class="faq-question">My instrument doesn't permit tuning (Flute/Ghatam). Should I still care?</h3>
      <div class="faq-answer">
       <p>Shruti Carnatic Tuner is an essential tool to verify if your instrument adheres to a standard kattai/shruti. It comes very handy when purchasing instruments where you can easily detect instruments that sound higher or lower than a specific shruti. It also helps decide which flute or ghatam you should carry to a practice session or concert, to match other players' or singers' shruti perfectly.</p>
      <p>In addition, 12 Swarams Pack makes it possible to check whether all the open notes of your flute are in tune. This way you can identify and buy the right instrument.</p>
      </div>
      
      <h3 class="faq-question">Where are Ga<sub>1</sub> and Ni<sub>1</sub>?</h3>
      <div class="faq-answer">
        <p>Ri<sub>2</sub> is same as Ga<sub>1</sub>. Dha<sub>2</sub> is same as Ni<sub>1</sub>.</p>
      </div>
      
      <h3 class="faq-question">There are only two Ga and Ni as far as I know. How come the app shows Ga<sub>3</sub> and Ni<sub>3</sub>?</h3>
      <div class="faq-answer">
        <p>Actually there are three Ri-s, Ga-s, Dha-s and Ni-s in Carnatic music. However, there are some overlaps among them. 72 Melakartha scheme is based on all these swara sthanas. See the list below for correct swara sthana names and corresponding numbering.</p>
        <img class="img-fluid mx-auto d-block" src='{{ "/images/carnatic-swarasthanas.png" | relative_url }}' alt="Swarasthana chart" />
      </div>
      

      <h3 class="faq-question">Aren't there 16 swara sthanas instead of just 12?</h3>
      <div class="faq-answer">
        <p>Yes. However, some of the swara sthanas overlap, resulting in only 12 unique swara sthanas. For example, Ri<sub>3</sub> is same as Ga<sub>2</sub>. In other words, this feature pack supports all the swara sthanas.</p>
        <img class="img-fluid mx-auto d-block" src='{{ "/images/carnatic-swarasthanas.png" | relative_url }}' alt="Swarasthana chart" />
      </div>

      <h3 class="faq-question">What do you mean by "pure" carnatic swara sthanas?</h3>
      <div class="faq-answer">
        <p>The frequency ratios of Carnatic swarams are different from Western Equal temperament (used in Keyboards and Harmoniums). <em>Shruti Carnatic Tuner</em> and this feature pack are implemented based on authentic frequency ratios of Carnatic music. This is what we mean when we say <em>Pure</em> carnatic swara sthanas.</p>
      </div>

      <h3 class="faq-question" id="ratios">Which ratios are used for the swarams?</h3>
      <div class="faq-answer">
        <p>These are the ratios used in the feature pack:</p>
        <ol>
          <li><b>Sa</b> <em>1</em>,</li>
          <li><b>Ri<sub>1</sub></b> <em>16/15</em>,</li>
          <li><b>Ri<sub>2</sub></b> or <b>Ga<sub>1</sub></b> <em>9/8</em>,</li>
          <li><b>Ga<sub>2</sub></b> or <b>Ri<sub>3</sub></b> <em>32/27</em>,</li>
          <li><b>Ga<sub>3</sub></b> <em>5/4</em>,</li>
          <li><b>Ma<sub>1</sub></b> <em>4/3</em>,</li>
          <li><b>Ma<sub>2</sub></b> <em>45/32</em>,</li>
          <li><b>Pa</b> <em>3/2</em>,</li>
          <li><b>Dha<sub>1</sub></b> <em>128/81</em>,</li>
          <li><b>Dha<sub>2</sub></b> or <b>Ni<sub>1</sub></b> <em>5/3</em>,</li>
          <li><b>Ni<sub>2</sub></b> or <b>Dha<sub>3</sub></b> <em>16/9</em> and</li>
          <li><b>Ni<sub>3</sub></b> <em>15/8</em>.</li>
        </ol>
      </div>

     <h3 class="faq-question">Why these specific ratios?</h3>
     <div class="faq-answer">
       <p>We are aware there are alternatives to few of the above ratios in the wild. Some of those ratios figure only in gamakams. The ratios presented here are also strongly backed by theory. Concluding on these specific ratios took us months of</p>
       <ul>
         <li>research on available literature,</li>
         <li>considerations for the techniques employed by instrumentalists,</li>
         <li>building of extensive sound sample library for combination of different ratios, and</li>
         <li>listening tests with professional musicians.</li>
       </ul>
       <p>In conclusion, the above ratios are authentic and most suitable for plain Carnatic swarams held steadily without any oscillations.</p>
     </div>

    </div>
   </div>
 </div>

 {% include faq/footer.html %}
