---
title: About Purchases
layout: kuyil_with_container_movable_navbar
app: "Pocket Shruti Box"
app_full_name: "Pocket Shruti Box: Carnatic Tambura"
app_logo: "/images/shrutibox_seal.png"
app_link: "https://play.google.com/store/apps/details?id=org.kuyil.shrutibox"
email: "shrutibox@kuyil.org"
premium: "premium"
switch_to_premium: 'use a premium feature'
---

{% include faq/buying_heading.html %}

<div id="accordion">
  {% include faq/payment_modes.html %}
  {% include faq/troubleshoot_premium.html %}
  {% include faq/post_purchase_apprehensions.html %}
  {% include faq/i_dont_like_it.html %}
</div>

{% include faq/footer.html %}
