<!-- amazon, google play gift code: https://www.amazon.in/Google-Play-Gift-Code-Digital/dp/B07BV1ZMVN/ -->
<!-- mobikwik, google play recharge code: https://www.mobikwik.com/google-play -->

{% assign class_div_img_3_col = "col-sm" %}
{% assign class_img_screenshot = "img-fluid lazyload screenshot" %}

<h3 class='faq-question'>How do I buy premium features?</h3>
<div class='faq-answer'>
    <p>There are several ways to buy. You can:</p>
    <ul>
        <li> Use a credit or debit card.</li>
        <li> Use Google Play Recharge available at <a href='#recharge'>Paytm</a>, <a href='#phonepe'>PhonePe</a> and <a href='#freecharge'>Freecharge</a>.</li>
        <li> Use <a href='#cash'>cash</a>.</li>
        <li> Get a Google Play <a href='#gift_card'>Gift Card</a>.</li>
        <li> Use <a href='#upi'>BHIM/UPI</a>.</li>
        <li> Use <a href='#netbanking'>netbanking</a>.</li>
        <li> Pay through your <a href='#carrier_billing'>mobile bill/balance</a>.</li>
    </ul>
</div>

<h3 class='faq-question'>I never did any in-app purchase using my phone. Is it safe?</h3>
<div class='faq-answer'>
    <p>Absolutely safe and secure. The payment is 100% handled by Google. It is a direct interaction between you and Google. Any info you provide is kept strictly private. At the end of the transaction, Google informs the app whether the purchase is successful or not. Based on that, the premium feature is enabled. Google ensures that the process is transparent, safe and fully secure.</p>
</div>

<h3 class='faq-question' id='recharge'>Can I use Paytm?</h3>
<div class='faq-answer'>
    <p>Yes. You can buy <a href='https://paytm.com/google-play-gift-card-recharge'>Google Play Recharge code</a> from Paytm. You'll get the code immediately. You can use the recharge code to buy our premium features. Follow these instructions for getting the code:</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_paytm_1.jpg"
            alt="Paytm Google Play Recharge"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_paytm_2.jpg"
            alt="Paytm Google Play Recharge"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_paytm_3.jpg"
            alt="Paytm Google Play Recharge"/>
        </div>
    </div>
    <br />
    <p>Once you have your Google Play Recharge Code, <a href='#redeem_gift_card'>follow these steps</a> to use it to buy our premium features.</p>
</div>

<h3 class='faq-question' id='freecharge'>Can I use Freecharge?</h3>
<div class='faq-answer'>
    <p>Yes. You can buy <a href='https://www.freecharge.in'>Google Play Recharge code from Freecharge</a> . You'll get the code immediately. You can use the recharge code to buy our premium features. Follow these steps for getting the code:</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_freecharge_1.png"
            alt="Freecharge Google Play Recharge"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_freecharge_2.png"
            alt="Freecharge Google Play Recharge - Enter mobile number"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_freecharge_3.png"
            alt="Freecharge Google Play Recharge - Enter amount"/>
        </div>
    </div>
    <p>Once you have your Google Play Recharge Code, <a href='#redeem_gift_card'>follow these steps</a> to use it to buy our premium features.</p>
</div>

<h3 class='faq-question' id='phonepe'>Can I use PhonePe?</h3>
<div class='faq-answer'>
    <p>Yes. You can buy Google Play Recharge code from PhonePe. You'll get the code immediately. You can use the recharge code to buy our premium features. Follow these instructions for getting the code:</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_phonepe_1.png"
            alt="PhonePe Google Play Recharge"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_phonepe_2.png"
            alt="Google Play Recharge - Enter amount"/>
        </div>
    </div>
    <p>Once you have your Google Play Recharge Code, <a href='#redeem_gift_card'>follow these steps</a> to use it to buy our premium features.</p>
</div>

<h3 class='faq-question' id='upi'>Can I use BHIM/UPI?</h3>
<div class='faq-answer'>
    <p>Yes. You can use BHIM/UPI payment method to get a Google Play Recharge from Paytm or PhonePe.</p>
    <ul>
        <li> To get Google Play Recharge from Paytm, <a href='https://paytm.com/google-play-gift-card-recharge'>click here</a>.</li>
        <li> For instructions on getting Google Play Recharge using PhonePe app, <a href="#phonepe">click here</a>.</li>
    </ul>
    <p>You'll get the code immediately. You can use the recharge code to buy our premium features.</p>
    <p>Once you have your Google Play Recharge Code, <a href='#redeem_gift_card'>follow these steps</a> to use it to buy our premium features.</p>
</div>

<h3 class='faq-question' id='netbanking'>Can I use netbanking?</h3>
<div class='faq-answer'>
    <p>Sure, you can. These screens show you how:</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_simple_annotated.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_payment_methods.jpg"
            alt="purchase dialog"/>
        </div>
    </div>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_netbanking.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_netbanking_list.jpg"
            alt="purchase dialog"/>
        </div>
    </div>
</div>

<h3 class='faq-question' id='cash'>Can I use cash?</h3>
<div class='faq-answer'>
    <p>You can buy a <em>Google Play Gift Card</em> from a <a href='https://play.google.com/about/giftcards/'>local retailer</a> or an online shop like <a href='https://www.amazon.in/Google-Play-Gift-Card-Rs-750/dp/B013P66XVK'>amazon</a> or <a href='https://www.snapdeal.com/products/physical-gift-cards?sort=plrty&q=Brand%3AGoogle%20Play%7C'>snapdeal</a> using cash as the payment method.</p>
    <p>Once you have your Google Play Gift Card, <a href='#redeem_gift_card'>follow these steps</a> to use it to buy our premium features.</p>
</div>

<h3 class='faq-question' id='gift_card'>Are physical gift cards available?</h3>
<div class='faq-answer'>
    <p>Yes. <a href='https://www.amazon.in/Google-Play-Gift-Card-Rs-750/dp/B013P66XVK'>amazon</a>, <a href='https://www.snapdeal.com/products/physical-gift-cards?sort=plrty&q=Brand%3AGoogle%20Play%7C'>snapdeal</a> and other <a href='https://play.google.com/about/giftcards/'>retailers</a> sell Google Play gift cards. The same gift cards may be available at shops near you.</p>
    <p>Once you have a Google Play gift card, you can use it to buy our in-app features <a href='#redeem_gift_card'>as detailed here</a>.</p>
    <div class='row'>
        <div class="col">
            <img class="img-fluid mx-auto d-block lazyload"
            data-src="/images/play_store_hero_desktop.png"
            alt="Paytm Google Play Recharge"/>
        </div>
    </div>
</div>

<h3 class='faq-question' id='redeem_gift_card'>I have Google Play Recharge Code. How do I use it?</h3>
    <div class='faq-answer'>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_simple_annotated.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_redeem_1.jpg"
            alt="purchase dialog with redeem option"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_redeem_2.jpg"
            alt="Redeem Google Play Recharge. Code entry."/>
        </div>
    </div>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_redeem_3.jpg"
            alt="Redeem Google Play Recharge. Confirmation."/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_redeem_4.jpg"
            alt="Redeem Google Play Recharge. Balanced Added."/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_redeem_5.jpg"
            alt="Buying using Google Play balance"/>
        </div>
    </div>
</div>

<h3 class='faq-question' id='carrier_billing'> Can you simply charge to my mobile bill?</h3>
<div class='faq-answer'>
    <p>You can get the feature and pay for it through your your mobile bill. Look for your mobile operator's name in payment methods. Currently Airtel, Vodafone and Idea support this feature in India.</p>
    <p><em>Warning: Mobile carriers charge a certain percentage as convenience fee in addition to the feature's price.</em></p>
    <div class='row' id='carrier_billing'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_simple_annotated.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_payment_methods.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_carrier_billing_1.jpg"
            alt="carrier billing option"/>
        </div>
    </div>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_carrier_billing_2.jpg"
            alt="carrier billing dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_carrier_billing_3.jpg"
            alt="buying with carrier billing"/>
        </div>
    </div>
</div>

<h3 class='faq-question'>What happens if something goes wrong during the purchase?</h3>
<div class='faq-answer'>
    <p>Don't worry. Your money is safe. Millions of purchases happen every day. Problems are extremely rare. Worst case scenarios are well thought out by Google. If the issue is specific to our app, you can always contact us at <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
</div>

<h3 class='faq-question'>My credit/debit card is not accepted!</h3>
<div class='faq-answer'>
    <p>Google does not accept some cards (e.g. RuPay). If your card is not accepted, please try a different card or use <a href='#without_card'>other payment methods</a>.</p>
</div>

<h3 class='faq-question' id='without_card'>I don't have credit/debit cards. Can I still buy?</h3>
<div class='faq-answer'>
    <p>Of course, you can buy. The following methods don't require a credit/debit card. Use one of these methods:</p>
    <ul>
        <li> Use <a href='#recharge'>Paytm</a>, <a href='#phonepe'>PhonePe</a> or <a href='#freecharge'>Freecharge</a> to get a Google Play Recharge Code, or</li>
        <li> Use your bank account directly through <a href='#netbanking'>netbanking</a>, or</li>
        <li> Use your bank account: Using BHIM/UPI payment option, get a Google Play Recharge Code with mobile wallets such as <a href='#recharge'>Paytm</a>, <a href='#phonepe'>PhonePe</a> or <a href='#freecharge'>Freecharge</a>, or</li>
        <li> Get a Google Play <a href='#gift_card'>Gift Card</a> from a local shop or order online using cash, or</li>
        <li> Pay through your <a href='#carrier_billing'>mobile bill</a>.</li>
    </ul>
</div>

<h3 class='faq-question'>Help! Purchase failed but my card was charged?</h3>
<div class='faq-answer'>
    <p>Don't worry. You will NOT lose your money. In extremely rare cases, transaction may be incomplete after deducting money. If it ever happens, Google will automatically revert the money to your account in a few days. If you have any issues, write to us at <a href="mailto:{{ page.email }}">{{ page.email }}</a>, we'll follow it up with Google.</p>
</div>
