<!-- amazon, google play gift code: https://www.amazon.in/Google-Play-Gift-Code-Digital/dp/B07BV1ZMVN/ -->
<!-- mobikwik, google play recharge code: https://www.mobikwik.com/google-play -->

{% assign class_div_img_3_col = "col-sm" %}
{% assign class_img_screenshot = "img-fluid lazyload screenshot" %}
{% assign text_recharge_outlets = "<a href='#recharge'>Paytm</a>, <a href='#phonepe'>PhonePe</a>, <a href='#mobikwik'>MobiKwik</a>, <a href='#freecharge'>Freecharge</a> or <a href='#amazon'>Amazon</a>" %}
{% assign text_upi_providers = "BHIM, GPay, PhonePe, etc" %}
{% assign link_paytm_recharge = "https://paytm.com/google-play-gift-card-recharge" %}
{% assign link_mobikwik_recharge = "https://www.mobikwik.com/google-play" %}
{% assign link_freecharge_recharge = "https://www.freecharge.in/google-play-recharge" %}
{% assign link_giftcard_retailers = "https://play.google.com/intl/en_in/about/giftcards/#giftcards-retailers" %}

{% capture text_recharge_code_intro %}
  <p>Yes. It's a <strong>two step</strong> process:</p>
  <ol>
    <li>Get a <strong>Google Play Recharge code</strong> from WALLET.</li>
    <li>Redeem the code in <strong>{{ app }} app</strong> and complete the purchase.</li>
  </ol>
  <p>That's it. Here are the details:</p>
{% endcapture %}

{% capture text_recharge_code_redeem %}
    <p><strong>Step 2</strong> Open <strong>{{ app }} app</strong>. Start the purchase and <strong>redeem</strong> the code as shown below. This will update your Google Play balance. Finally, complete the purchase using your Google Play balance.</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/{{ app_code_name }}/buying_redeem_1.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/{{ app_code_name }}/buying_redeem_2.jpg"
            alt="purchase dialog with redeem option"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/{{ app_code_name }}/buying_redeem_3.jpg"
            alt="Redeem Google Play Recharge. Code entry."/>
        </div>
    </div>
    <p><strong>NOTE</strong> <em>If you redeem the code in Google Play app instead, you'll have to do the additional step of completing the purchase in {{ app }} app using your Google Play balance. Redeeming in {{ app }} app avoids this confusion.</em></p>
{% endcapture %}

<h3 class='faq-question'>How do I buy premium features?</h3>
<div class='faq-answer'>
    <p>There are several ways to buy. You can:</p>
    <ul>
        <li> Use a credit or debit card. (NOTE: If you've <b>RuPay</b> card, please <a href='#rupay'>read this</a> first.)</li>
        <li> Use {{ text_recharge_outlets }}.</li>
        <li> Use <a href='#cash'>cash</a>.</li>
        <li> Get a Google Play <a href='#gift_card'>Gift Card</a>.</li>
        <li> Use <a href='#upi'>UPI</a> ID from <b>{{ text_upi_providers }}</b>.</li>
        <li> Use <a href='#netbanking'>netbanking</a>.</li>
        <li> Pay through your <a href='#carrier_billing'>mobile bill/balance</a>.</li>
    </ul>
</div>

<h3 class='faq-question'>I never did any in-app purchase using my phone. Is it safe?</h3>
<div class='faq-answer'>
    <p>Absolutely safe and secure. The payment is 100% handled by Google. It is a direct interaction between you and Google. Any info you provide is kept strictly private. At the end of the transaction, Google informs the app whether the purchase is successful or not. Based on that, the premium feature is enabled. Google ensures that the process is transparent, safe and fully secure.</p>
</div>

<h3 class='faq-question' id='recharge'>Can I use Paytm?</h3>
<div class='faq-answer'>
    {{ text_recharge_code_intro | replace: 'WALLET', 'Paytm' }}
    <p><strong>Step 1</strong> To get <em>Google Play Recharge code</em> from Paytm, <a {{ site.new_tab }} href='{{ link_paytm_recharge }}'>click here</a>.</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_paytm_1.jpg"
            alt="Paytm Google Play Recharge"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_paytm_2.jpg"
            alt="Paytm Google Play Recharge"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_paytm_3.jpg"
            alt="Paytm Google Play Recharge"/>
        </div>
    </div>
    <br />
    {{ text_recharge_code_redeem }}
</div>

<h3 class='faq-question' id='amazon'>Can I use Amazon?</h3>
<div class='faq-answer'>
    {{ text_recharge_code_intro | replace: 'WALLET', 'Amazon' }}
    <p><strong>Step 1</strong> Get Google Play Recharge code from Amazon using one of the options below:</p>
    <ul>
        <li> <a {{ site.new_tab }} href='https://www.amazon.in/Google-Play-Gift-Code-Digital/dp/B07BV1ZMVN/'>Google Play Gift Code (Digital)</a></li>
        <li><a {{ site.new_tab }} href='https://www.amazon.in/Google-Play-Gift-Card-Rs-1500/dp/B07DVWRVW1/'>Google Play Gift Card (Physical)</a></li>
    </ul>
    {{ text_recharge_code_redeem }}
</div>

<h3 class='faq-question' id='mobikwik'>Can I use MobiKwik?</h3>
<div class='faq-answer'>
    {{ text_recharge_code_intro | replace: 'WALLET', 'MobiKwik' }}
    <p><strong>Step 1</strong> To get <em>Google Play Recharge Code</em> from MobiKwik, <a {{ site.new_tab }} href='{{ link_mobikwik_recharge }}'>click here</a>.</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_mobikwik_1.png"
            alt="Paytm Google Play Recharge"/>
        </div>
    </div>
    <br />
    {{ text_recharge_code_redeem }}
</div>

<h3 class='faq-question' id='freecharge'>Can I use Freecharge?</h3>
<div class='faq-answer'>
    {{ text_recharge_code_intro | replace: 'WALLET', 'Freecharge' }}
    <p><strong>Step 1</strong> To get <em>Google Play Recharge Code</em> from Freecharge, <a {{ site.new_tab }} href='{{ link_freecharge_recharge }}'>click here</a>.</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_freecharge_1.png"
            alt="Freecharge Google Play Recharge"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_freecharge_2.png"
            alt="Freecharge Google Play Recharge - Enter mobile number"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_freecharge_3.png"
            alt="Freecharge Google Play Recharge - Enter amount"/>
        </div>
    </div>
    {{ text_recharge_code_redeem }}
</div>

<h3 class='faq-question' id='phonepe'>Can I use PhonePe?</h3>
<div class='faq-answer'>
    {{ text_recharge_code_intro | replace: 'WALLET', 'PhonePe' }}
    <p><strong>Step 1</strong> Open PhonePe app and follow these screens to get <em>Google Play Recharge Code</em>.
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_phonepe_1.png"
            alt="PhonePe Google Play Recharge"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_phonepe_2.png"
            alt="Google Play Recharge - Enter amount"/>
        </div>
    </div>
    <br />
    {{ text_recharge_code_redeem }}
</div>

<h3 class='faq-question' id='other-wallets'>Can I use some other mobile wallet?</h3>
<div class='faq-answer'>
    {{ text_recharge_code_intro | replace: 'WALLET', 'your wallet app' }}
    <p><strong>Step 1</strong> Get <em>Google Play Recharge Code</em> using your wallet app. Many wallets offer these. Here's the <a {{ site.new_tab }} href='{{ link_giftcard_retailers }}'>official list of retailers</a>.</p>
    {{ text_recharge_code_redeem }}
</div>

<h3 class='faq-question' id='upi'>Can I use my UPI ID from {{ text_upi_providers }}?</h3>
<div class='faq-answer'>
    {{ text_recharge_code_intro | replace: 'from WALLET', 'using your UPI ID' }}
    <p><strong>Step 1</strong> Buy a <em>Google Play Recharge Code</em> using your UPI ID (<b>{{ text_upi_providers }}</b>) from {{ text_recharge_outlets }}. 
    {{ text_recharge_code_redeem }}
</div>

<h3 class='faq-question' id='netbanking'>Can I use netbanking?</h3>
<div class='faq-answer'>
    <p>Sure, you can. These screens show you how:</p>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_simple_annotated.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_payment_methods.jpg"
            alt="purchase dialog"/>
        </div>
    </div>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_netbanking.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_netbanking_list.jpg"
            alt="purchase dialog"/>
        </div>
    </div>
</div>

<h3 class='faq-question' id='cash'>Can I use cash?</h3>
<div class='faq-answer'>
    {{ text_recharge_code_intro | replace: 'WALLET', 'a retailer' | replace: 'Recharge code', 'Gift Card' }} 
    <p><strong>Step 1</strong> Buy <em>Google Play Gift Card</em> from a <a {{ site.new_tab }} href='{{ link_giftcard_retailers }}'>local retailer</a> or an online shop like <a {{ site.new_tab }} href='https://www.amazon.in/Google-Play-Gift-Card-Rs-750/dp/B013P66XVK'>amazon</a> or <a {{ site.new_tab }} href='https://www.snapdeal.com/products/physical-gift-cards?sort=plrty&q=Brand%3AGoogle%20Play%7C'>snapdeal</a> using cash (or Cash-On-Delivery).</p>
    <p>{{ text_recharge_code_redeem | replace: 'the code', 'your gift card' }}</p>
</div>


<h3 class='faq-question' id='rupay'>Can I use RuPay credit or debit card?</h3>
<div class='faq-answer'>
    <p>Yes. Though Google Play currently does not accept RuPay cards, you can still get our premium features.</p>
    {{ text_recharge_code_intro | replace: 'Yes. ', '' | replace:'from WALLET', 'using your RuPay card' }}
    <p><strong>Step 1</strong> Purchase <em>Google Play Recharge Code</em> using your RuPay card from {{ text_recharge_outlets }}.</p>
    {{ text_recharge_code_redeem }}
</div>

<h3 class='faq-question' id='gift_card'>Are physical gift cards available?</h3>
<div class='faq-answer'>
    <p>Yes. <a {{ site.new_tab }} href='https://www.amazon.in/Google-Play-Gift-Card-Rs-750/dp/B013P66XVK'>amazon</a>, <a {{ site.new_tab }} href='https://www.snapdeal.com/products/physical-gift-cards?sort=plrty&q=Brand%3AGoogle%20Play%7C'>snapdeal</a> and other <a {{ site.new_tab }} href='{{ link_giftcard_retailers }}'>retailers</a> sell Google Play gift cards. The same gift cards may be available at shops near you.</p>
    <p>Getting physical gift card takes time. Alternatively, you can get digital <em>Google Play Recharge</em> code instantly; buy it online from {{ text_recharge_outlets }}. </p>
    <div class='row'>
        <div class="col">
            <img class="img-fluid mx-auto d-block lazyload"
            data-src="/images/play_store_hero_desktop.png"
            alt="Paytm Google Play Recharge"/>
        </div>
    </div>
</div>

<h3 class='faq-question' id='redeem_gift_card'>I have Google Play Gift Card / Recharge Code. How do I use it?</h3>
<div class='faq-answer'>
{{ text_recharge_code_redeem | replace: 'Step 2', '' }}
</div>

<h3 class='faq-question' id='carrier_billing'> Can you simply charge to my mobile bill?</h3>
<div class='faq-answer'>
    <p>You can get the feature and pay for it through your your mobile bill. Look for your mobile operator's name in payment methods. Currently Airtel, Vodafone and Idea support this feature in India.</p>
    <p class='alert alert-danger' role='alert'>Mobile carriers charge a convenience fee additionally. This is typically <b>16%</b>. It may vary by region. More details at <a {{ site.new_tab }} href='https://support.google.com/googleplay/answer/6394130'>https://support.google.com/googleplay/answer/6394130</a>.</p>
    <div class='row' id='carrier_billing'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_simple_annotated.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_payment_methods.jpg"
            alt="purchase dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_carrier_billing_1.jpg"
            alt="carrier billing option"/>
        </div>
    </div>
    <div class='row'>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_carrier_billing_2.jpg"
            alt="carrier billing dialog"/>
        </div>
        <div class="{{ class_div_img_3_col }}">
            <img class="{{ class_img_screenshot }}"
            data-src="/images/shruti/buying_carrier_billing_3.jpg"
            alt="buying with carrier billing"/>
        </div>
    </div>
</div>

<h3 class='faq-question'>What happens if something goes wrong during the purchase?</h3>
<div class='faq-answer'>
    <p>Don't worry. Your money is safe. Millions of purchases happen every day. Problems are extremely rare. Worst case scenarios are well thought out by Google. If the issue is specific to our app, you can always contact us at <a href="mailto:{{ app_email }}">{{ app_email }}</a></p>
</div>

<h3 class='faq-question'>My credit or debit card is not accepted!</h3>
<div class='faq-answer'>
     <p>Google does not accept some cards (e.g. RuPay). You can still use your card to make sucessful purchase indirectly.</p>
     {{ text_recharge_code_intro | replace: 'Yes. ', '' | replace: 'from WALLET', 'using your card' }}
    <p><strong>Step 1</strong> Purchase <em>Google Play Recharge Code</em> using your card from {{ text_recharge_outlets }}.</p>
    {{ text_recharge_code_redeem }}
      
    <p>Alternativlely, you can try a different card or use <a href='#without_card'>other payment methods</a>.</p>
</div>

<h3 class='faq-question' id='without_card'>I don't have credit or debit card. Can I still buy?</h3>
<div class='faq-answer'>
    <p>Of course, you can buy. The following methods don't require a credit or debit card. Use one of these methods:</p>
    <ul>
        <li> Use {{ text_recharge_outlets }} to get a Google Play Recharge Code, or</li>
        <li> Use your bank account directly through <a href='#netbanking'>netbanking</a>, or</li>
        <li> Use your bank account: Using BHIM/UPI payment option, get a Google Play Recharge Code with mobile wallets such as {{ text_recharge_outlets }}, or</li>
        <li> Get a Google Play <a href='#gift_card'>Gift Card</a> from a local shop or order online using cash, or</li>
        <li> Pay through your <a href='#carrier_billing'>mobile bill</a>.</li>
    </ul>
</div>

<h3 class='faq-question'>Help! Purchase failed but my card was charged?</h3>
<div class='faq-answer'>
    <p>Don't worry. You will NOT lose your money. In extremely rare cases, transaction may be incomplete after deducting money. If it ever happens, Google will automatically revert the money to your account in a few days. If you have any issues, write to us at <a href="mailto:{{ app_email }}">{{ app_email }}</a>, we'll follow it up with Google.</p>
</div>
