<h3>Do I need internet connection every time to use the premium feature?</h3>
<div>
  <p>No, after purchase the app and the premium feature can be used without internet connection. But if you clear data/cache of {{ page.app }} or Google Play app, or log out from your Google account on Play store, you would need internet connection once to retrieve your purchases and enable premium features. See <a href="#troubleshoot_premium">here.</a></p>
</div>

<h3>Say I bought a premium feature. What happens when I uninstall and reinstall the app? Should I buy again?</h3>
<div>
  <p>No need to buy again. The feature is yours once you buy it. You can uninstall and reinstall the app any number of times. Your purchases will be remembered. This is true for all our premium features.</p>
</div>

<h3>What if I lose my phone?</h3>
<div>
  <p>Your purchases are remembered by Google servers. They are linked to your Google or Gmail account. So, even in the unfortunate event of losing your phone, your purchases are safe.</p>
</div>

<h3>What if I get a new phone? Do I have to buy the feature again?</h3>
<div>
  <p>No, you don't have to buy the same feature again. The app will automatically retrieve your purchases and enable relevant feature(s). Google provides info about your purchases based on your google account. You just need to ensure that you use the same Google or Gmail account on the new device.</p>
</div>
