<h3 class='faq-question'>Do I need internet connection every time to use premium features?</h3>
<div class='faq-answer'>
  <p>No. After the purchase, {{ app }} app with premium features can be used without internet connection. But if you clear data/cache of {{ app }} or Google Play app, or log out from your Google account on Play store, you would need internet connection once to retrieve your purchases and enable premium features. See <a href="#troubleshoot_premium">here.</a></p>
</div>

<h3 class='faq-question'>Say I bought {{ page.premium_feature_name | downcase }}. What happens when I uninstall and reinstall the app? Should I buy again?</h3>
<div class='faq-answer'>
  <p>No need to buy again. {{ page.premium_feature_name }} are yours once you buy. You can uninstall and reinstall the app any number of times. Your purchases will be remembered. This is true for all our apps.</p>
</div>

<h3 class='faq-question'>What if I lose my phone?</h3>
<div class='faq-answer'>
  <p>Your purchases are remembered by Google servers. They are linked to your Google or Gmail account. So, even in the unfortunate event of losing your phone, your purchases are safe.</p>
</div>

<h3 class='faq-question'>What if I get a new phone? Do I have to buy {{ page.premium_feature_name | downcase }} again?</h3>
<div class='faq-answer'>
  <p>No, you don't have to buy {{ page.premium_feature_name | downcase }} again. The app will automatically retrieve your purchases and enable {{ page.premium_feature_name | downcase }}. Google provides info about your purchases based on your google account. You just need to ensure that you use the same Google or Gmail account on the new device.</p>
</div>
