<h3>I tried free exercises. How do I access all the exercises?</h3>
<div>
<p>If you have tried the free exercises and would like to continue to practice rest of the exercises, you should make a purchase to unlock them.</p>
</div>

<h3>Do I have to purchase exercises one by one?</h3>
<div>
<p>No. A single purchase unlocks all exercises in all levels.</p>
</div>

<h3>What is the difference between Buying and Renting?</h3>
<div>
<p>If you prefer to own full version of {{ page.app }} forever, you can use Buy option and make a one-time payment.</p>
<p>Alternatively, if you can purchase periodic subscription. This is similar to renting a house. As long as the subscription is active, you have complete access to all the features and exercises.</p>
</div>

<h3>How do I buy (one-time payment)?</h3>
<div>
<ol>
    <li>Open {{ page.app }}, touch <em>Swara Gyanam</em> card to go to the list of exercises.</li>
    <li>On the top bar, touching Key icon will present you buying and renting options.</li>
    <li>Touch the card titled <em>One-Time</em> under BUY.</li>
    <li>Follow on screen instructions provided by Google and complete the payment.</li>
</ol>
<p>Once you are done with these steps, you should be able to access any exercise in {{ page.app }}.</p>
</div>

<h3>How do I rent (periodic subscription)?</h3>
<div>
<ol>
    <li>Open {{ page.app }}, touch <em>Swara Gyanam</em> card to go to the list of exercises.</li>
    <li>On the top bar, touching Key icon will present you buying and renting options.</li>
    <li>Touch the card with your desired period of subscription <em>Weekly</em>, <em>Monthly</em>, or <em>Quarterly</em>.</li>
    <li>Follow the instructions on screen by Google and complete the payment.</li>
</ol>
<p>Once you are done with these steps, you should be able to access any exercise in {{ page.app }} for the desired period.</p>
</div>

{% include faq/post_purchase_apprehensions.html %}

<h3>What happens when my renting period / cycle ends?</h3>
<div>
    <p>Your subscription renews automatically. For example, if you subscribe for <em>Monthly</em> today, you will be charged now for one month from today. At the end one month, you will be charged for the next month, and you can continue to use full features of the app.</p>
</div>

<h3>Can I cancel my subscription?</h3>
<div>
<p>Of course, you can cancel your subscription any time. If you cancel, your subscription will continue to be active till the end of current cycle for which you already paid.</p>
</div>

<h3>How do I cancel my subscription?</h3>
<div>
<ol>
    <li>Open {{ page.app }}, touch <em>Swara Gyanam</em> card to go to the list of exercises.</li>
    <li>Touch the key icon on the top. You should see cards with buying and renting options.</li>
    <li>Your current subscription will be marked with a green tick. For instance, if you are on a monthly subscription, <em>Monthly</em> card will have a tick.</li>
    <li>Touch the card with the green tick. You'll be taken to your account section in Google Play.</li>
    <li>Touch <em>Subscriptions</em> to open it. You should see {{ page.app }}'s entry if you currently have a subscription.</li>
    <li>Touch <em>Manage</em></li>
    <li>Touch <em>Cancel subscription</em></li>
</ol>
</div>

<h3>Can I switch to a different subscription?</h3>
<div>
<p>Yes, you can. Follow these steps:</p>
<li>
    <li>Open {{ page.app }}, touch <em>Swara Gyanam</em> card to go to the list of exercises.</li>
    <li>Touch the key icon on the top. You should see cards with buying and renting options.</li>
    <li>Your current subscription will be marked with a green tick. For instance, if you are on a monthly subscription, <em>Monthly</em> card will have a tick.</li>
    <li>Touch any other card under <em>Rent</em>, for instance <em>Quarterly</em></li>
    <li>Follow the instructions on screen and pay the difference amount.</li>
</li>
<p>The unused balance of the old subscription is applied on a pro-rated basis to the new subscription.</p>
</div>

<h3>Can I switch from subscription to one-time purchase?</h3>
<div>
    <p>Yes, you can switch from renting / subscription to <em>One-Time</em> purchase. Follow these steps:</p>
<ol>
    <li>Open {{ page.app }}, touch <em>Swara Gyanam</em> card to go to the list of exercises.</li>
    <li>Touch the Key icon on the top bar.</li>
    <li>Touch the <em>One Time</em> card under BUY and follow on-screen instructions and make payment.</li>
</ol>
<p>IMPORTANT: To prevent recurring subscription charges, you shall now cancel any active subscription. Follow these steps:</p>
<ol>
    <li>After the one-time payment succeeds, you'll see a <em>Cancel Subscription</em> button in the app. If you don't see <em>Cancel Subscription</em> button, touch the Key icon on the top bar again to show it.</li>
    <li>Touch <em>Cancel Subscription</em>.</li>
    <li>Touch <em>Subscriptions</em> to open it. You should see {{ page.app }}'s entry if you currently have a subscription.</li>
    <li>Touch <em>Manage</em></li>
    <li>Touch <em>Cancel subscription</em></li>
</ol>
</div>

<h3>I've made the one-time purchase and cancelled my earlier subscription. Still I'm getting a warning saying my subscription is active.</h3>
<div>
<p>Don't worry. Subscription is active till the end of the cycle before fully cancelled by Google. Once you make sure your subscription is cancelled, you can safely ignore this warning and you won't be charged again.</p>
</div>

<h3>How do I make sure my subscription is cancelled?</h3>
<div>
<ol>
    <li>Open {{ page.app }}, touch <em>Swara Gyanam</em> card to go to the list of exercises.</li>
    <li>Touch the Key icon on the top bar.</li>
    <li>If you were a subscriber and have recently bought <em>One-time</em>, you might see <em>Cancel Subscription</em> button.</li>
    <li>Touch <em>Cancel Subscription</em> button to launch Google play. (Alternatively, open Google Play app separately, go to its menu, and touch <em>Accounts</em>)</li>
    <li>Touch <em>Subscriptions</em></li>
</ol>
<p>If you don't see any entry corresponding to {{page.app}} it means your subscription is already cancelled and closed.</p>
<p>If you see an entry of {{ page.app }} here with "Cancels on" status, it also means that your subscription is already cancelled.</p>
<p>If you see "Renews on" status, it means that subscription is active. If you have already bought <em>One-Time</em> in {{page.app}}, be sure to cancel any such subscription. Touch <em>Manage</em> and <em>Cancel subscription</em> to do so.</p>
</div>

<h3 id="troubleshoot_subscription">I subscribed, but suddenly I'm unable to access some features/exercises.</h3>
<div>
<p>If you are a subscriber and unable to access premium features/exercises, the reason could be:</p>
<ul>
    <li>Your subscription may have expired, or</li>
    <li>Some other temporary technical issue.</li>
</ul>
<p>First, follow these steps to ensure that the subcription is still active:</p>
<ul>
    <li> Open Google Play app</li>
    <li> open its menu -> accounts -> Subscriptions. You should see an active subscription for {{ page.app }}.</li>
</ul>
<p>If you don't see an active subscription for {{ page.app }}, the reason could be one of these two:</p>
<ul>
    <li><b>Your subscription is expired</b>: Please renew your subscription or buy the <em>One-Time</em> feature to get permanent access to all exercises.</li>
    <ul><li>Subscriptions usually renew automatically. If it fails to renew, the reason could be that your payment method is outdated (card expired), or low balance etc.</li></ul>
    <li><b>You are using a different Google account</b>: Sign in to Google Play app using your Google account that is used to purchase {{ page.app }} subscription.</li>
    <ul><li>If you see {{ page.app }}'s subscription being active on your account, open {{ page.app }}, preferably with internet ON. Wait for a moment, and launch any exercise. It should work.</li></ul>
</ul>
<p>Apart from these, cleaner apps and clearning {{page.app}} or Google Play's cache also disables premium features and exercises. For more details on fixing these issues, <a href="#troubleshoot_premium">read this</a>.</p>
</div>

<h3 id="troubleshoot_premium">I purchased, still some levels/exercises don't open?</h3>
<div>
<p>If you have purchased but unable to access premium exercises, it is a temporary issue caused by one of the following reasons. Did you do any of these?</p>
<ul>
    <li>Ran a cleaner to free up space in your device?</li>
    <li>Cleared {{ page.app }} or Play store app's cache/data?</li>
    <li>Added a different google account to your phone, or switched user?</li>
    <li>Did your phone face low memory issue recently?</li>
</ul>
<p>As you may know, purchases are handled by Google Play. When you open {{ page.app }}, it will ask Google Play whether you have bought or rented the exercises in level. If Google Play says yes, {{ page.app }} will enable them. Google Play usually saves your purchases in your device so that your purchases would work even when you are offline. The purchase info may not be readily available when you switch google accounts or clear Play store's cache/data.</p>
<ul>
    <li>Make sure you are connected to internet. (You'll need internet this one time to retrieve and verify your purchase. Later, you can continue to use the app do all the exercises without internet connection)</li>
    <li>Swipe apps from recent apps list, especially Google Play and {{ page.app }}.</li>
</ul>
<p>If you have made the <em>One Time</em> purchase:</p>
<ul>
    <li>Open Google Play, open its menu -> accounts -> Order History. You should see {{ page.app }}'s Onetime purchase in your Google Play's order history. If NOT, go back to Google Play's menu, choose the Google account with which you made the purchase and login.</li>
    <li>open {{ page.app }}, preferably with internet ON. Wait for a moment, and come back to {{page.app}}. It should work.</li>
    <li>If you use cleaner app, please exclude {{ page.app }} and Google Play to prevent this problem happening again.</li>
</ul>
<p>If you are a subscriber:</p>
<ul>
    <li>See <a href="#troubleshoot_subscription">this question</a> for steps to solve this problem.</li>
</ul>
</div>

