<h3 class='faq-question' id="troubleshoot_premium">I purchased {{ page.premium }}. It used to work before but it doesn't anymore.</h3>
<div class='faq-answer'>
   <p>If you have purchased but unable to use {{ page.premium }}, it is a temporary issue caused by one of the following reasons. Did you do any of these?</p>
   <ul>
      <li>Ran a cleaner to free up space in your device?</li>
      <li>Cleared Shruti or Play store app's cache/data?</li>
      <li>Added a different google account to your device, or switched user?</li>
      <li>Did your phone face low memory issue recently?</li>
      <li>Did you do factory-reset on your device?</li>
   </ul>
   <p>As you may know, purchases are handled by Google Play. When you open {{ page.app }}, it will ask Google Play whether you have bought {{ page.premium }}. If Google Play says yes, {{ page.app }} will enable the feature. Google Play usually saves your purchases in your device so that your purchases would work even when you are offline. The purchase info may not be readily available when you switch google accounts or clear Play store's cache/data.</p>
   <p>Please try the following:</p>
   <ol>
      <li>Make sure you are connected to internet. (You'll need internet this one time to retrieve and verify your purchase. Later, you can continue to use the app and {{ page.premium }} without internet)</li>
      <li>Swipe apps from recent apps list, especially Google Play and {{ page.app }}.</li>
      <li>Open Google Play, open its menu -> accounts -> Order History. You should see {{ page.premium }} in the list as purchased. If NOT, go back to Google Play's menu, choose the Google account with which you made the purchase and login.</li>
      <li>If you see {{ page.premium }} in your Google Play's order history, open {{ page.app }}, preferably with internet ON. Wait for a moment, and {{ page.switch_to_premium }}. It should work.</li>
      <li>If you use cleaner app, please exclude {{ page.app }} and Google Play to prevent this problem happening again.</li>
   </ol>
</div>
