<h3 class="faq-question" id="ratios">Which ratios are used for the swara sthanas?</h3>
<div class="faq-answer">
    <p>These are the ratios used in {{ app_full_name }}:</p>
<ol>
  <li><b>Sa</b> <em>1</em>,</li>
  <li><b>Ri<sub>1</sub></b> <em>16/15</em>,</li>
  <li><b>Ri<sub>2</sub></b> or <b>Ga<sub>1</sub></b> <em>9/8</em>,</li>
  <li><b>Ga<sub>2</sub></b> or <b>Ri<sub>3</sub></b> <em>32/27</em>,</li>
  <li><b>Ga<sub>3</sub></b> <em>5/4</em>,</li>
  <li><b>Ma<sub>1</sub></b> <em>4/3</em>,</li>
  <li><b>Ma<sub>2</sub></b> <em>45/32</em>,</li>
  <li><b>Pa</b> <em>3/2</em>,</li>
  <li><b>Dha<sub>1</sub></b> <em>128/81</em>,</li>
  <li><b>Dha<sub>2</sub></b> or <b>Ni<sub>1</sub></b> <em>5/3</em>,</li>
  <li><b>Ni<sub>2</sub></b> or <b>Dha<sub>3</sub></b> <em>16/9</em> and</li>
  <li><b>Ni<sub>3</sub></b> <em>15/8</em>.</li>
</ol>
</div>
