<h3 class="faq-question">Why these specific ratios?</h3>
<div class="faq-answer">
    <p>We are aware there are alternatives to few of the above ratios in the wild. Some of those ratios figure only in gamakams. The ratios presented here are also strongly backed by theory. Concluding on these specific ratios took us months of</p>
    <ul>
        <li>research on available literature,</li>
        <li>considerations for the techniques employed by instrumentalists,</li>
        <li>building of extensive sound sample library for combination of different ratios, and</li>
        <li>listening tests with professional musicians.</li>
    </ul>
    <p>In conclusion, the above ratios are authentic and most suitable for plain Carnatic swarams held steadily without any oscillations.</p>
</div>

