---
title: Remove Ads | Shruti Carnatic Tuner
layout: kuyil_with_container

app: "Shruti"
app_full_name: "Shruti Carnatic Tuner"
app_logo: "/images/shruti_seal.png"
email: "shruti@kuyil.org"
---

{% include faq/heading.html %}

<div class="row">
  <div class="col">
    <h1>Remove Ads</h1>
    <p class="lead">Get rid of ads from the app.</p>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <img class="img-fluid" src="/images/shruti_remove_ads_listen.png" alt="Listening" />
  </div>
  <div class="col">
    <img class="img-fluid" src="/images/shruti_remove_ads_play.png" alt="Playing" />
  </div>
</div>

<div class="row">
  <div class="col">

    <h3 class="faq-question">What do I get when I purchase this feature?</h3>
    <div class="faq-answer"><p>Ads will be completely removed from the app. The screen space vacated is used to present a convenient volume control when playing reference swarams. Removing ads also helps you to save some battery and data on your device.</p>
    </div>

    <h3 class="faq-question">Why are you showing ads in the first place?</h3>
    <div class="faq-answer"><p>Ads help to keep the basic functionality free and help us pay part of our electricity bills while we make apps for Carnatic music. By paying to remove ads, you directly contribute to our efforts. <em>#SupportCarnatic</em></p>
    </div>

    <h3 class="faq-question">I want to remove ads, but I have questions about in-app purchases?</h3>
      <div class="faq-answer"><p>Glad you asked. We have put together a whole page of frequently asked questions about in-app purchases. Read <a href="{{ site.url }}/shruti/about_purchases">here</a>.</p>
    </div>

 </div>
</div>

 {% include faq/footer.html %}
